<div class="card">
  <img src="url3.png" class="card-img" alt="...">

  <div class="card-img-overlay d-flex align-items-end">
    <div class="col-12">
      {{>messages}}
      <form action=" /" method="POST">
        <div class=" input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="input">URL :</span>
          </div>
          <input type="text" class="form-control" name="url" placeholder="Paste the link here">
          <div class="input-group-append">
            <button type="submit" class="btn btn-success">Shorten URL</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>