<div class="card">
  <img src="url3.png" class="card-img" alt="...">

  <div class="card-img-overlay d-flex align-items-end">
    <div class="col-12">
      {{>messages}}
      <form action=" /" method="POST">
        <div class=" input-group">
          <input type="text" class="form-control" name="url" placeholder="http(s)://...">
          <div class="input-group-append">
            <button type="submit" class="btn btn-success">Shorten URL</button>
          </div>
        </div>
        <small id="inputHelp" class="form-text pl-2">Please paste the link to be shortened here.</small>
      </form>
    </div>
  </div>
</div>